[submodule "external/rwkv-cpp"]
	path = external/rwkv-cpp
	url = https://github.com/RWKV/rwkv.cpp.git
[submodule "dependencies/rwkv-cpp"]
	path = dependencies/rwkv-cpp
	url = https://github.com/RWKV/rwkv.cpp.git
[submodule "external/rwkv.cpp"]
	path = external/rwkv.cpp
	url = https://github.com/BlinkDL/RWKV.cpp.git
